.fotoProducto{
    width: 268px;
    height: 269px;
    overflow: hidden;
    display: grid;
    place-items: center;
}

.bi-x{
    font-size: 20px;
    transition: all 500ms;
}
.bi-x:hover{
    color: gold;
}